# Dependencies
node_modules/
server/venv/
venv/

# Build
dist/
dist-ssr/

# Python
__pycache__/
*.pyc

# ML Models
*.pkl
*.pt
*.pth
*.h5

# Environment files
.env
.env.local
*.local

# Logs
logs
*.log

# IDE
.vscode/
.idea/
.DS_Store